.final-card {
  height: 800px;
  background-size: cover;
  border-radius: 2rem;
}

.final-img {
  margin: 40px;
  width: 80%;
  border-radius: 2rem;
}

.card-text {
  background-color: azure;
  margin: 1rem 4rem;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-weight: 800;
}

.export-button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: rgb(227, 218, 218);
  font-weight: 700;
  background-color: rgb(29, 81, 10);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.christmas-hat {
  padding-left: 1rem;
  width: 30px;
}
