.app-left-side {
  display: flex;
}

.page {
  background-image: linear-gradient(
    rgb(35, 29, 43) rgb(32, 30, 43),
    rgb(25, 26, 36)
  );
}

.final-result {
  width: 50%;
  padding: 20px;
  border: 5px white dashed;
  position: absolute;
  top: 152%;
  left: 25%;
  background-color: rgb(96, 21, 17);
}

.instructions {
  color: white;
  padding: 50px;
}

.feature-bg {
  background-image: linear-gradient(
    rgb(35, 29, 43) rgb(32, 30, 43),
    rgb(25, 26, 36)
  );
}
